<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASMEzGaVe81nkRxrSOMCPKJBxmtoLr4bM</string>
	<key>GCM_SENDER_ID</key>
	<string>1064438444506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlogPostProject</string>
	<key>PROJECT_ID</key>
	<string>blog-postdb</string>
	<key>STORAGE_BUCKET</key>
	<string>blog-postdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064438444506:ios:dba1470b1f0650d8d650e3</string>
</dict>
</plist>